<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col justify-center items-center min-h-screen bg-sky-50"
>
  <div class="font-medium text-4xl pb-4 text-blue-800">Register Now!</div>
  <div class="grid grid-cols-2 gap-4 border-2 p-4 rounded-md w-1/2">
    <mat-form-field class="example-form-field w-ful">
      <mat-label>Parent Name</mat-label>
      <input matInput type="text" formControlName="parentName" />
      @if (parentName) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field w-ful">
      <mat-label>Parent Name</mat-label>
      <input matInput type="text" formControlName="parentName" />
      @if (parentName) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Age</mat-label>
      <input matInput type="text" formControlName="age" />
      @if (age) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
      @if (email) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>School</mat-label>
      <input matInput type="text" formControlName="school" />
      @if (school) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      @if (name) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Contact Number</mat-label>
      <input matInput type="text" formControlName="contactNumber" />
      @if (contactNumber) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Parent Email</mat-label>
      <input matInput type="text" formControlName="parentEmail" />
      @if (parentEmail) {
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  <!-- <div
    class="flex items-center justify-center flex-wrap flex-col-2 gap-4 "
  >
   
 

  </div> -->
</form>
